{% extends 'base.html' %}

{%block title%}Travels{%endblock title%}

{%block body%} Welwcome to Travels page
<div class="py-4 mb-3">
  <form method="post" action="/travel">
   {% csrf_token %} 
    <div class="from-label">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
   </div>
    <div class="from-label">
  <label for="email" class="form-label">email</label>
  <input type="email" class="form-control" id="email" name ="email" placeholder="Enter your Email">

   </div>
    <div class="from-label">
  <label for="phone" class="form-label">phone</label>
  <input type="text" class="form-control" id="phone" name ="phone" placeholder="Enter your Email">
   </div>

    <div class="class="from-label>
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
 </form>
</div>

 {%endblock body %}